{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb/base"],
    "rules": {
        "semi" : [2, "always"],
        "no-plusplus" : "off",
        "eol-last" : "off",
        "max-len" : ["error", 150],
        "no-tabs" : "off",
        "prefer-destructuring" : "off"
        
    },
    "standard": {
        "parser": "babel-eslint"
    }
}